.navBar {
  width: 100%;
  background-color: #016efc;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 134px;
  z-index: 1;
  animation: slideIn 0.3s ease;
}

.hide {
  transition: transform 0.3s ease;
  transform: translateY(-1000px);
}

@keyframes slideIn {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0);
  }
}

.mainMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding: 58px 0 71px;
}

.closeButton {
  cursor: pointer;
  width: 33px;
  height: 33px;
}

.close {
  border: none;
  background-color: transparent;
}

.menu ul {
  padding: 0;
  margin: 80px 0 0 82px;
  list-style-type: none;
  text-align: left;
}

.menu ul li:not(:last-of-type) {
  margin-bottom: 22px;
}

.menu a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: white;
  text-decoration: none;
}

a.activeLink {
  text-decoration: underline;
}
